@charset "utf-8";
/* CSS Document */
article h2{
	text-align:center;
	font-size:36px;
}
article table td{
	padding:5px;
	font-size:20px;
}
article input{
	width:250px;
	height:30px;
}
article .btn{
	width:100px;
}

